body {
    font-family: Arial, sans-serif;
    margin: 0px;
   
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    box-shadow: 5px 5px 15px 5px #ffffff;
  }

  header div{
    width: 100%;
    
  }

  h1{
    color: white;
  }
  
  nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: black;
    box-shadow: 5px 5px 15px 5px #ffffff;
   
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }

  nav li a {
    color: rgb(250, 250, 250);
    font-size: 28px;
    text-decoration: none;
  }

  nav li a:hover{
    color: aqua;
  }

  .div{
      width: 100%;
      height: 100vh;
      background-image: url(../img/pexels-shahnewaj-mahmood-1033202.jpg);
      background-size: cover;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  
  }
  
  section {
    width: 60%;
    margin: 20px;
    padding: 20px;
    text-align: left;
  }

  .membre1 {
    background-color: lightcoral;    
  }
  .membre2 {
    background-color: lightgreen;    
  }
  .membre3 {
    background-color: lightblue;    
  }
  .membre4 {
    background-color: chartreuse;    
  }
  .membre5 {
    background-color: lightseagreen;    
  }